.venv
_build
.DS_Store
.vscode
docs/_static/pypi.svg
__pycache__

# Packaging artifacts
black.egg-info
black.dist-info
build/
dist/
pip-wheel-metadata/
.eggs

src/_black_version.py
.idea

.dmypy.json
*.swp
venv/
.ipynb_checkpoints/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
