sudo: required
dist: xenial
language: python
cache: pip
install:
- pip install coverage coveralls flake8 flake8-bugbear mypy
- pip install -e .
script:
- coverage run tests/test_black.py
- if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then mypy black.py blackd.py tests/test_black.py; fi
- if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then black --check --verbose .; fi
- if [[ $TRAVIS_PYTHON_VERSION == '3.8-dev' ]]; then flake8 black.py blackd.py tests/test_black.py; fi
after_success:
- coveralls
notifications:
  on_success: change
  on_failure: always
matrix:
  include:
    - python: 3.6
    - python: 3.7
    - python: 3.8-dev
