[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
click = "*"
setuptools = ">=38.6.0"

[dev-packages]
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-mypy = "*"
mypy = "*"
twine = ">=1.11.0rc1"
