# Created using winget-create
# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.1.6.0.schema.json

PackageIdentifier: hollowsunhc.ProvenanceDemo
PackageVersion: {{VERSION_NO_V}}
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.6.0
