# Used by ReadTheDocs; pinned requirements for stability.

myst-parser==4.0.0
Sphinx==8.1.3
# Older versions break Sphinx even though they're declared to be supported.
docutils==0.21.2
sphinxcontrib-programoutput==0.18
sphinx_copybutton==0.5.2
furo==2024.8.6
