name: diff-shades-comment

on:
  workflow_run:
    workflows: [diff-shades]
    types: [completed]

permissions:
  pull-requests: write

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "*"

      - name: Install support dependencies
        run: |
          python -m pip install pip --upgrade
          python -m pip install click packaging urllib3

      - name: Get details from initial workflow run
        id: metadata
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >
          python scripts/diff_shades_gha_helper.py comment-details
          ${{github.event.workflow_run.id }}

      - name: Try to find pre-existing PR comment
        if: steps.metadata.outputs.needs-comment == 'true'
        id: find-comment
        uses: peter-evans/find-comment@b657a70ff16d17651703a84bee1cb9ad9d2be2ea
        with:
          issue-number: ${{ steps.metadata.outputs.pr-number }}
          comment-author: "github-actions[bot]"
          body-includes: "diff-shades"

      - name: Create or update PR comment
        if: steps.metadata.outputs.needs-comment == 'true'
        uses: peter-evans/create-or-update-comment@5adcb0bb0f9fb3f95ef05400558bdb3f329ee808
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ steps.metadata.outputs.pr-number }}
          body: ${{ steps.metadata.outputs.comment-body }}
          edit-mode: replace
