name: Documentation

on:
  push:
    paths: ["docs/**", "pyproject.toml", ".github/workflows/*"]

  pull_request:
    paths: ["docs/**", "pyproject.toml", ".github/workflows/*"]

permissions:
  contents: read

jobs:
  build:
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up latest Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          allow-prereleases: true

      - name: Install dependencies
        run: |
          python -m pip install uv
          python -m uv venv
          python -m uv pip install -e ".[d]"
          python -m uv pip install -r "docs/requirements.txt"

      - name: Build documentation
        run: sphinx-build -a -b html -W --keep-going docs/ docs/_build
