name: docs

on:
  push:
    paths: ["docs/**", "src/**", "pyproject.toml", ".github/workflows/docs.yml"]

  pull_request:
    paths: ["docs/**", "src/**", "pyproject.toml", ".github/workflows/docs.yml"]

permissions:
  contents: read

jobs:
  docs:
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up latest Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
          pip-version: "25.3"
          pip-install: -e .[d] --group docs

      - name: Build documentation
        run: sphinx-build -a -b html -W --keep-going docs/ docs/_build
